name: Daily dbt Run

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run-dbt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dbt-bigquery
        run: pip install dbt-bigquery

      - name: Create profiles.yml
        run: |
          mkdir -p ~/.dbt
          cat <<EOF > ~/.dbt/profiles.yml
          my_profile:
            target: dev
            outputs:
              dev:
                type: bigquery
                method: service-account
                project: learned-now-479411-j6
                dataset: dbt_dataset_ga
                keyfile: $HOME/gcp-key.json
                threads: 4
          EOF

      - name: Write GCP key
        run: echo "${{ secrets.GCP_SA_KEY }}" > $HOME/gcp-key.json

      - name: Run dbt
        working-directory: ./dbt_to_bq   # your dbt project folder
        run: |
          dbt deps
          dbt run
